* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ffc72c;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 72px 52px;
}

.lanches {
  display: flex;
  justify-content: center;
}

.lanches img {
  margin: 77px;
  cursor: pointer;
}

.lanches img:hover {
  transform: scale(105%);
}

.bigmac {
  width: 118.57px;
  height: 100px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

span {
  color: #db0007;
  font-family: Inter;
  font-size: 50px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

.container2 {
  background-color: #ffbc0d;
}

.container2 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  padding: 58px;
}

.cards-conjunto {
  display: flex;
  justify-content: space-around;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 66px;
}

.cards img {
  width: 315px;
  height: 156px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
}

.cards h4 {
  margin: 13px 17px 40px 19px;
}

.cards button {
  width: 162px;
  height: 41px;
  border-radius: 10px;
  background-color: #ffbc0d;
  border: none;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
}

.cards button:hover {
  transform: scale(105%);
}
