* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 18px 52px;
}

.opcoes-menu {
  display: flex;
  margin: 18px 52px;
}

.download {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.pedido {
  display: flex;
  background-color: #ffc72c;
  border-radius: 7px;
  align-items: center;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
